################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grupa 2/ZivotinjskaFarma/obj/Debug/net5.0/ZivotinjskaFarma.csprojAssemblyReference.cache
